<!doctype html>
<html lang="en">
<%- include('_partial/head') %>
<body>
    <%- include('_partial/header') %>

    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title"><%= post.title %></h2>
                    <p class="blog-post-meta"><%= timeFormat(post.createAt, 'yyyy-MM-dd HH:mm:ss') %> by <a href="#"><%= post.createBy %></a></p>
                    <div class="blog-post-summary"><%= post.content %></div>
                </div>
            </div>
            
            <%- include('_partial/sidebar') %>
        </div>
    </main>

    <%- include('_partial/footer') %>
</body>
</html>