<!DOCTYPE html>
<html lang="zh-CN">
<%- include('_partial/head') %>
<body>
  <%- include('_partial/sidebar') %>

  <main class="main">
    <%- include('_partial/navbar') %>

    <div class="autopagerize_page_element">
      <div class="content">
        <% rows.forEach(function (item) { %>
        <div class="post animated fadeInDown">
          <div class="post-title">
            <h3><a href="/post/<%= item.id %>"><%= item.title %></a></h3>
          </div>
          <div class="post-content">
            <p><%- item.summary %></p>
          </div>
          <div class="post-footer">
            <div class="meta">
              <div class="info">
                <i class="fa fa-sun-o"></i>
                <span class="date"><%= helpers.mformat(item.createAt) %></span>
                <% if (item.categories && item.tags && (item.categories.length + item.tags.length) > 0) { %>
                <i class="fa fa-tag"></i>
                  <% items.categories.forEach(function (item) { %>
                  <a href="/categories/<%= item.id %>/" title="<%- item.name %>" class="tag"><%- item.name %> </a>
                  <% }) %>
                  <% items.tags.forEach(function (item) { %>
                    <a href="/tags/<%= item.id %>/" title="<%- item.name %>" class="tag"><%- item.name %> </a>
                  <% }) %>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <% }) %>

        <%- include('_partial/pagination') %>
      </div>
    </div>
  </main>
</body>
</html>
